                                                                                                                                                                                           
.subjectNav {
	width:793px;
	margin: 0 auto;
	background:transparent;
	}
	
.subjectNav br {
	display:none;
	}
	
.subjectNav img {
	margin:0;
	padding:0;
	border:none;
	float: left;
	}

.subjectNav ul {
	list-style-type:none;
	padding:0;
	margin:0;
	font-weight:bold;
	font-family:Georgia,serif;
	text-transform:uppercase;
	letter-spacing:0px;
}

/*Top level list items*/
.subjectNav ul li {
	position: relative;
	display: inline;
	float: left;
	margin:0;
	padding:0;
}


.subjectNav li.parent {
	display:none;
}

/*Top level menu link items style*/
.subjectNav ul li a {
	/*for all links in the list*/
	color: #666;
	display: block;
	width: 121px;
	border:none;
	border-top:1px solid #fff;
	padding: 0 0 0 10px;
	margin:0 0 0 0;
	text-align:center;
	font-size:10px;
	line-height:24px;
	background: url("../images/subjectnav-li-bg.png") left no-repeat;
}

.subjectNav li a.on, .subjectNav li a:hover {
	 color: #93191B;
	}
	
.subjectNav li a:hover {
	 /*change border color for active topic area*/
	text-decoration:none;
	background: url("../images/subjectnav-li-bg-on.png") left no-repeat;
	}
	
/*hide the subcategory menus*/
.subjectNav ul li ul {
	left: 0;
	top: 0;
	border: 0;
	margin-top:1px;
	border-right:1px solid #868686;
	border-bottom:1px solid #868686;
	border-left:1px solid #868686;
	position: absolute;
	display: block;
	visibility: hidden;
	z-Index: 300;
	background: #fff;
	letter-spacing:0px;
	text-transform:none;
}

/*Sub level menu list items*/
.subjectNav ul li ul li {
	display: inline;
	float: none;
	line-height:10px;
}

/* Sub level menu links style */
.subjectNav ul li ul li a {
	clear:left;
	background: #fff;
	color: #666;
	display: block;
	width: 165px;
	padding:0 10px 3px 10px;
	margin:0;
	font-size:9px;
	text-align:left;
	text-decoration:none;
	font-family:Verdana,sans-serif;
	font-weight:normal;
	border:0;
	line-height:20px;
}

.subjectNav ul li ul li.listlast a {
	padding:0 10px 7px 10px;
}

/*hide the subcategory menus*/
.subjectNav ul li ul li ul {
	position: absolute;
	margin-top:-22px;
	left:185px;
	z-Index: 400 !important;
	}
	
.subjectNav ul li ul li ul li a {
	position: relative;
	z-Index: 500 !important;
	}
	
.subjectNav li.on ul a, .categoryNav li.off ul a {
  /*  cancel inherit of border on subnav of active topic */
	 background: #fff;
	 color: #666;
	}

.subjectNav ul li ul li a:hover {
	border:none;
	background:#efefef;
	color:#666;
	}


* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .subjectNav ul li { float: left; height: 1%; }
* html .subjectNav ul li a { height: 1%; }
/* End */