@import "template-html.css";
@import "template-masthead.css";
@import "template-class.css";
@import "template-homepage.css";

body {
	background: url("/images/template/home-homepage-bg.jpg") repeat-x;
	}
	
/* the masthead includes audience navigation, the SCU log, tagline, site name, and search form */
	
#masthead {
	position:relative;
	height: 90px;
	margin-bottom:25px;
	}
	
#search {
	top:38px;
	}
	
/* the content block - container for primary, secondary, tertiary content */

#content {
	width:793px;
	margin: 0 auto;
	padding:0;
	/* height:273px; */
	}
	
#content .primary {
	float:left;
	width:502px;
	margin:-5px 0 0 -5px;
	}
	
#content .secondary {
	float:left;
	width:272px;
	margin-left:22px;
	}
	
#content .secondary a, #content .secondary a:visited {
	color:#8E7A4A;
	text-decoration:none;
	}
	
#content .secondary a:hover {
	text-decoration:underline;
	}
	
#content .secondary .newslink {
	font-family:Verdana,sans-serif;
	text-align:right;
	width:70px;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	font-size:9px;
	line-height:14px;
	}
	
.newslink {
	font-family:Verdana,sans-serif;
	text-align:right;
	margin:10px 0;
	padding:0 10px 0 0;
	height:12px;
	}
	
#content .secondary .newsitem {
	clear:both;
	width:100%;
	margin:7px 0 3px 0;
	border-top:1px dotted #ccc;
	padding-top:7px;
	}
	
#content .secondary .newsitem .itemtext {
	float:left;
	width:195px;
	margin:0;
	}
	
#content .secondary .newsitem .itemtext h5 {
	margin:0;
	padding:0;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	font-size:9px;
	line-height:14px;
	letter-spacing:0px;
	}
	
#content .secondary .newsitem .itemtext p {
	margin:0 0 10px 0;
	padding:0;
	font-family:Verdana,sans-serif;
	font-size:9px;
	line-height:14px;
	color:#666;
	letter-spacing:0px;
	}
	
#content .secondary .newsitem img {
	float:left;
	height:45px;
	width:65px;
	margin:0 0 0 12px;
	}

.subjectNav {
	width:793px;
	margin: 0 auto;
	clear:both;
	height:250px;
	}

.subjectNav ul {
	list-style-type:none;
	margin:0;
	padding:12px 0 0 0;
	}
	
.subjectNav li.parent {
	display:none;
	}
	
.subjectNav a {
	text-decoration:none;
	color:#999;
	}
	
.subjectNav a:hover {
	text-decoration:underline;
	color:#000;
	}
	
.subjectNav h4, .subjectNav p, .subjectNav .toggleSites, .subjectNav .catSites, .subjectNav .catDescr, .subjectNav li ul li ul {
	display:none;
	}
	
.subjectNav li {
	float:left;
	width:130px;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	font-family:Georgia,serif;
	font-weight:bold;
	font-size:10px;
	border-left: 1px dotted #ccc;
	text-transform:uppercase;
	letter-spacing:2px;
	}
	
/* turns off left border on first main subject category */
.subjectNav .listFirst {
	padding:0;
	border-left: none;
	width:120px;
	}

/* removes right padding on main subject category */
.subjectNav .listLast {
	width:120px;
	}
	
.subjectNav li a {
	color:#93191B;
	}
	
.subjectNav li ul {
	margin:8px 0 0 0;
	padding:0;
	}
	
.subjectNav li ul li {
	display:block;
	padding:0;
	margin:0 0 0 0;
	width:100%;
	font-family:Verdana,sans-serif;
	font-weight:normal;
	font-size:9px;
	line-height:17px;
	border:none;
	text-transform:none;
	letter-spacing:0px;
	z-Index:100;
	}
	
.subjectNav li ul li a {
	color:#666;
	}
	
.subjectNav img {
	display:none;
	}
	
/* modify category widths to accomodate lengthy subcat text */
.subjectNav #cat18 {
	width:105px;
	}
	
#scuseal {
	position:absolute;
	bottom: 45px;
	right: 3%;
	margin:0 auto;
	}
	
#scumission {
	position:absolute;
	bottom: 90px;
	right: 20px;
	margin:0 auto;
	}
	
@media print {
.container {
		width:100%;
		margin:0;
		padding:0;
	}
}
