a {
	text-decoration:none;
	}
	
a:hover {
	text-decoration:underline;
	}
	
blockquote {
	margin-left:40px;
	}

br {
	line-height:0px;
	}
	
dl {
	margin:0 10px;
	padding:0;
	}

dl dt {
	font-weight:bold;
	margin:0;
	padding:10px 0 0 0;
	border-top:1px dotted #ccc;
	}
	
dl dd {
	margin:0;
	padding:0 0 5px 20px;
	}
	
dl a {
	text-decoration:none !important;
	}

dl a:hover {
	text-decoration:underline !important;
	}
	
form {
	margin:0;
	padding:0;
	}
	
img {
	border:none;
	}

input {
	margin:0;
	}
	
table {
	border:0;
	border-collapse:collapse;
	width:100%;
	font-size:large;
	}
	
td, th {
	vertical-align:top;
	padding:0;
	}
	
th {
	text-align:left;
	}
